# OpenSearch-Project: This should match the owning team set up in https://github.com/orgs/opensearch-project/teams
*   @pjfitzgibbons @ps48 @kavithacm @derek-ho @joshuali925 @dai-chen @YANG-DB @rupal-bq @mengweieric @vamsi-amazon @swiddis @penghuo @seankao-az