

.github
docs
internal
src/*/README.md
src/*/Dockerfile
src/*/*/Dockerfile

###################################
# currency
./src/currency/client.js
./src/currency/node_modules/
###################################

###################################
# frontend
./src/frontend/node_modules/

###################################
# inventory
./src/inventory/.zig-cache
./src/inventory/zig-out
./src/inventory/zig-pkg

###################################
# shipping
./src/shipping/target
###################################

