*~
*.iml
*.ipr
*.iws
*.pyc
.nb-gradle
.nb-gradle-properties
.swp
.DS_Store
\#*\#

docker-compose.override.yml

# Eclipse
.classpath
.project
.settings

bin/
obj/
.vs/
.vscode
.gradle/
.idea/
build/
node_modules/
coverage
.next/
out/
build
next-env.d.ts
vendor/
composer.lock
.venv
.dockerhub.env
.ghcr.env

src/frontend/cypress/videos
src/frontend/cypress/screenshots
src/shipping/target/
test/tracetesting/tracetesting-vars.yaml

# Ignore copied/generated protobuf files
/src/accounting/src/protos/
/src/cart/src/protos/
/src/fraud-detection/src/main/proto
/src/payment/demo.proto
/src/shipping/proto/
/src/currency/proto
/src/frontend/pb

# Android
*.apk

!src/currency/build
src/frontend/utils/telemetry/FrontendTracer.ts.not_used
src/frontend/utils/telemetry/SessionIdProcessor.ts.not_used
src/cart/src/Dockerfile.singlearch
src/cart/src/Dockerfile.too_complex
src/flagd-ui/src/instrumentation.ts.not-used
.gitignore
src/payment/charge.js.original
src/payment/logger.js.not sure
src/payment/logger.js.original
src/payment.zip
src/payment-old
src/payment/*.bak
.service-versions.yaml
dev-repo.yaml
src/frontend copy/
src/frontend copy/*
