# Copyright The OpenTelemetry Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

extends: default

ignore-from-file: .gitignore

rules:
  document-start: disable
  octal-values: enable
  truthy:
    allowed-values: ['true', 'false', 'on']  # 'on' for GH action trigger
  line-length:
    max: 200
  indentation:
    check-multi-line-strings: false
    indent-sequences: consistent
  brackets:
    max-spaces-inside: 1
    max-spaces-inside-empty: 0
  braces:
    max-spaces-inside: 1
    max-spaces-inside-empty: 0
