<h1>Messages</h1>
<div id="messages">
  <ul id="messages" phx-update="stream"></ul>
</div>

<h1>Login</h1>
<div id="login-form">
  <input type="text" id="name" placeholder="Enter your name" />
  <button id="login-submit">Connect</button>
</div>

<h1>Send a message</h1>
<div id="message-form">
  <input type="text" id="message" placeholder="..." />
  <button id="message-submit">Submit</button>
</div>

