<input type="text" id="name" placeholder="Enter your name" />

<h1>Send a message</h1>
<div id="message-form">
  <input type="text" id="message" placeholder="..." />
  <button id="message-submit">Submit</button>
</div>

