{#- Copyright The OpenTelemetry Authors -#}
{#- SPDX-License-Identifier: Apache-2.0 -#}
{#- Attribute macros for Weaver templates -#}

{#- Renders the type of an attribute -#}
{% macro type(attribute) -%}
{%- if attribute.type is mapping -%}
{%- if attribute.type.members[0].value is string %}string{%- endif -%}
{%- if attribute.type.members[0].value is int %}int{%- endif -%}
{%- if attribute.type.members[0].value is float %}double{%- endif -%}
{%- elif attribute.type == "template[boolean]" %}boolean
{%- elif attribute.type == "template[int]" %}int
{%- elif attribute.type == "template[double]" %}double
{%- elif attribute.type == "template[string]" %}string
{%- elif attribute.type == "template[boolean[]]" %}boolean[]
{%- elif attribute.type == "template[int[]]" %}int[]
{%- elif attribute.type == "template[double[]]" %}double[]
{%- elif attribute.type == "template[string[]]" %}string[]
{%- else %}{{ attribute.type | default('string') | trim }}{%- endif -%}
{%- endmacro %}

