{{- if and .Values.adx.enabled (not .Values.azure.existingSecret) }}
# Azure Data Explorer credentials secret
# This secret is created when adx.enabled=true and azure.existingSecret is not set
apiVersion: v1
kind: Secret
metadata:
  name: adx-credentials
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: adx-credentials
    app.kubernetes.io/instance: opentelemetry-demo
    app.kubernetes.io/part-of: opentelemetry-demo
    app.kubernetes.io/component: secrets
type: Opaque
stringData:
  AZURE_TENANT_ID: {{ .Values.azure.tenantId | quote }}
  AZURE_CLIENT_ID: {{ .Values.azure.clientId | quote }}
  AZURE_CLIENT_SECRET: {{ .Values.azure.clientSecret | quote }}
  ADX_CLUSTER_URI: {{ .Values.adx.clusterUri | quote }}
  ADX_DATABASE: {{ .Values.adx.database | quote }}
{{- end }}
