apiVersion: v1
kind: ServiceAccount
metadata:
  name: otel-collector-sa
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: opentelemetry-collector
    app.kubernetes.io/instance: opentelemetry-demo
    app.kubernetes.io/part-of: opentelemetry-collector
  {{- if and .Values.azure .Values.azure.workloadIdentity .Values.azure.workloadIdentity.enabled }}
  annotations:
    azure.workload.identity/client-id: "{{ .Values.azure.workloadIdentity.clientId }}"
  {{- end }}
