requests
traceloop-sdk
dotenv
httpx
langchain_openai
langchain
mcp
fastmcp>=2.13.1
langchain_mcp_adapters
yfinance
langchain_community
fastapi
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-instrumentation-langchain<0.53.0
fastmcp
gradio
