requests==2.34.2
python-dotenv==1.2.2
httpx==0.28.1
fastapi==0.138.0
gradio==6.19.0
opentelemetry-api==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-exporter-otlp-proto-grpc==1.38.0
opentelemetry-instrumentation-requests==0.59b0
opentelemetry-instrumentation-httpx==0.59b0
