backoff==2.2.1
brotli==1.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
configargparse==1.7
deprecated==1.2.18
flask==3.1.0
flask-basicauth==0.2.0
flask-cors==5.0.1
gevent==24.11.1
geventhttpclient==2.3.3
googleapis-common-protos==1.68.0
greenlet==3.1.1
idna==3.10
itsdangerous==2.2.0
jinja2==3.1.5
locust==2.33.0
locust-plugins[playwright]==4.5.3
markupsafe==3.0.2
msgpack==1.1.0
opentelemetry-api==1.30.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-instrumentation==0.51b0
opentelemetry-instrumentation-jinja2==0.51b0
opentelemetry-instrumentation-requests==0.51b0
opentelemetry-instrumentation-system-metrics==0.51b0
opentelemetry-instrumentation-urllib3==0.51b0
opentelemetry-proto==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-semantic-conventions==0.51b0
opentelemetry-util-http==0.51b0
openfeature-sdk==0.8.0
openfeature-provider-flagd==0.1.5
openfeature-hooks-opentelemetry==0.2.0
protobuf==5.29.3
psutil==6.1.1
pyzmq==26.2.1
requests==2.32.3
roundrobin==0.0.4
six==1.17.0
typing-extensions==4.12.2
urllib3==2.3.0
werkzeug==3.1.3
wrapt==1.17.2
zope-event==5.0
zope-interface==7.2
python-json-logger==3.2.1
