Flask==3.1.2
locust-plugins[playwright]==4.7.0
python-json-logger==3.3.0
openfeature-provider-ofrep==0.1.1
openfeature-hooks-opentelemetry==0.2.0
opentelemetry-api==1.36.0
opentelemetry-exporter-otlp-proto-grpc==1.36.0
opentelemetry-instrumentation-jinja2==0.57b0
opentelemetry-instrumentation-requests==0.57b0
opentelemetry-instrumentation-system-metrics==0.57b0
opentelemetry-instrumentation-urllib3==0.57b0
opentelemetry-sdk==1.36.0
opentelemetry-semantic-conventions==0.57b0
opentelemetry-instrumentation-logging==0.57b0
