Flask==3.1.1
locust-plugins[playwright]==4.7.0
python-json-logger==3.3.0
openfeature-provider-ofrep==0.1.1
openfeature-hooks-opentelemetry==0.2.0
opentelemetry-api==1.34.1
opentelemetry-exporter-otlp-proto-grpc==1.34.1
opentelemetry-instrumentation-jinja2==0.55b1
opentelemetry-instrumentation-requests==0.55b1
opentelemetry-instrumentation-system-metrics==0.55b1
opentelemetry-instrumentation-urllib3==0.55b1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
opentelemetry-instrumentation-logging==0.55b1
