{alias, [
    {grpc_regen, [compile, {grpc, gen}, compile]}
]}.

{erl_opts, [debug_info]}.
{deps, []}.

{grpc, [{protos, ["proto"]},
        {service_modules, [{'hipstershop.FeatureFlagService', "ffs_service"},
                           {'grpc.health.v1.Health', "grpcbox_health"},
                           {'grpc.reflection.v1alpha.ServerReflection', "grpcbox_reflection"}]},
        {gpb_opts, [{descriptor, true},
                    {module_name_prefix, "ffs_"},
                    {module_name_suffix, "_pb"}]}]}.

{project_plugins, [grpcbox_plugin]}.
