mode: daemonset

image:
  repository: otel/opentelemetry-collector-contrib

extraEnvs:
  - name: DD_API_KEY
    valueFrom:
      secretKeyRef:
        name: dd-secrets
        key: DD_API_KEY
  - name: DD_SITE
    valueFrom:
      secretKeyRef:
        name: dd-secrets
        key: DD_SITE
  - name: PROMETHEUS_ENDPOINT
    valueFrom:
      secretKeyRef:
        name: prometheus
        key: endpoint
  - name: OBSERVEINC_COLLECTION_ENDPOINT
    valueFrom:
      secretKeyRef:
        name: observeinc
        key: collection_endpoint
  - name: OBSERVEINC_TOKEN
    valueFrom:
      secretKeyRef:
        name: observeinc
        key: token
  - name: ELASTIC_PASSWORD
    valueFrom:
      secretKeyRef:
        name: elastic
        key: password
  - name: ELASTIC_USERNAME
    valueFrom:
      secretKeyRef:
        name: elastic
        key: username
  - name: ELASTIC_ENDPOINT
    valueFrom:
      secretKeyRef:
        name: elastic
        key: endpoint
presets:
  # enables the k8sattributesprocessor and adds it to the traces, metrics, and logs pipelines
  kubernetesAttributes:
    enabled: true
  # enables the kubeletstatsreceiver and adds it to the metrics pipelines
  kubeletMetrics:
    enabled: true
  # Enables the filelogreceiver and adds it to the logs pipelines
  logsCollection:
    enabled: true
  hostMetrics:
    enabled: true
## The chart only includes the loggingexporter by default
## If you want to send your data somewhere you need to
## configure an exporter, such as the otlpexporter
config:
  receivers:
    hostmetrics:
      collection_interval: 10s
      scrapers:
        paging:
          metrics:
            system.paging.utilization:
              enabled: true
        cpu:
          metrics:
            system.cpu.utilization:
              enabled: true
        disk:
        filesystem:
          metrics:
            system.filesystem.utilization:
              enabled: true
        load:
        memory:
        network:
        processes:
  processors:
    resource:
      attributes:
        - key: deployment.environment
          value: "otel"
          action: upsert
  connectors:
    spanmetrics:
    datadog/connector:
      traces:
        span_name_as_resource_name: true
  exporters:
    datadog/exporter:
      api:
        site: ${env:DD_SITE}
        key: ${env:DD_API_KEY}
    otlphttp/observeinclogs:
      endpoint: "${OBSERVEINC_COLLECTION_ENDPOINT}/v2/otel"
      headers:
        authorization: "Bearer ${OBSERVEINC_TOKEN}"
    prometheusremotewrite:
      endpoint: ${env:PROMETHEUS_ENDPOINT}/api/v1/write
      namespace: "default"
      timeout: 60s
      tls:
        insecure: true
    elasticsearch:
      endpoint: ${env:ELASTIC_ENDPOINT}
      auth:
        authenticator: basicauth
  extensions:
    basicauth:
      client_auth:
        username: ${env:ELASTIC_USERNAME}
        password: ${env:ELASTIC_PASSWORD}
  service:
    extensions: [health_check, basicauth]
    pipelines:
      traces:
        processors: [resource]
        exporters: [ datadog/connector, datadog/exporter, spanmetrics, elasticsearch ]
      metrics:
        receivers: [ otlp, hostmetrics, datadog/connector, spanmetrics ]
        processors: [resource]
        exporters: [ prometheusremotewrite, datadog/exporter ]
      logs:
        processors: [resource]
        exporters: [ datadog/exporter, otlphttp/observeinclogs, elasticsearch ]
