/* .feature-flag {
  background-color: red;
} */
.feature-flag {
  display: flex;
  align-items: center; /* centers items vertically */
  justify-content: space-between; /* spaces items horizontally */
  padding: 20px;
  /* margin: auto;
  width: 400px;
  height: 100px;
  cursor: pointer; */
  border: 2px solid #007bff; /* Blue border */
}
.send-button {
  margin-left: auto;
}
.top-right-name {
  position: relative;
  top: 0;
  right: 0;
}
.toggle-button {
  /* padding: 2px; */
  /* text-indent: 50px; */
}
.name-div {
  width: 500px;
}
/* .right-center-toggle-box{
  margin: auto;
} */
.input_not_matched_case {
  border: 2px solid red;
}
/* .enable-disable-checkbox{
  padding: 20px;
} */
.my-checkbox {
  padding: 2px;
  /* text-align-last: 50px; */
  /* text-indent: 50px; */
}
