### VALUES FOR DBSHIM DBMon
agent:
  config:
    service:
      pipelines:
        metrics:
          exporters:
          - signalfx
          processors:
          - memory_limiter
          - batch
          - resourcedetection
          - resource
          receivers:
          - hostmetrics
          - kubeletstats
          - otlp
          - receiver_creator
clusterReceiver:
  enabled: true
  config:
    exporters:
      signalfx:
        api_url: https://app.us1.signalfx.com
      # Exports dbmon events as logs
      otlphttp/dbmon:
        headers:
          X-SF-Token: ${SPLUNK_OBSERVABILITY_ACCESS_TOKEN}
          X-splunk-instrumentation-library: dbmon
        logs_endpoint: https://ingest.us1.signalfx.com/v3/event
        sending_queue:
          batch:
            flush_timeout: 15s
            max_size: 10485760 # 10 MiB
            sizer: bytes
    receivers:
      sqlserver:
        collection_interval: 1s
        username: sa
        password: ShopPass123!
        server: shop-dc-shim-db
        port: 1433
        resource_attributes:
          sqlserver.instance.name:
            enabled: true
        events:
          db.server.query_sample:
            enabled: true
          db.server.top_query:
            enabled: true
    service:
      pipelines:
        metrics/sqlserver:
          receivers:
            - sqlserver
          processors:
            - memory_limiter
            - batch
            - resourcedetection
            - resource
          exporters:
            - signalfx
        logs/dbmon:
          receivers:
            - sqlserver
          processors:
            - memory_limiter
            - batch
            - resourcedetection
            - resource
          exporters:
            - otlphttp/dbmon