body {
  background: white;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

body * {
  box-sizing: border-box;
  color: #29293E;
  font-weight: 600;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
