# Copyright The OpenTelemetry Authors
# SPDX-License-Identifier: Apache-2.0
name: Nightly Release

on:
  schedule:
    # Runs at 00:00 UTC every day
    - cron: '0 0 * * *'

permissions:
  contents: read
  id-token: write

jobs:
  build_and_push_images:
    permissions:  # required by the reusable workflow
      contents: read
      packages: write
    uses: ./.github/workflows/component-build-images.yml
    if: github.repository == 'tsuga-dev/opentelemetry-demo'
    with:
      push: true
      version: nightly-${{ github.run_id }}
    secrets: inherit
