name: "Release"

on:
  release:
    types: [published]

jobs:
  build_and_push_images:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    env:
      IMAGE_VERSION: "${{ github.event.release.tag_name }}"


    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      # limit docker push image concurrency to 1
      # to avoid github package return 429 ratelimit error
      - name: Set docker upload concurrent
        run: |
          echo $'{"max-concurrent-uploads": 1}' | sudo dd status=none of=/etc/docker/daemon.json
          sudo service docker restart
      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: build ghcr docker image
        run: make build-docker-images
        env:
          IMAGE_NAME: "ghcr.io/open-telemetry/demo"

      - name: push ghcr image
        run: make push-docker-images
        env:
          IMAGE_NAME: "ghcr.io/open-telemetry/demo"

      - name: build dockerhub docker image
        run: make build-docker-images
        env:
          IMAGE_NAME: "otel/demo"

      - name: push dockerhub image
        run: make push-docker-images
        env:
          IMAGE_NAME: "otel/demo"
