# Copyright The OpenTelemetry Authors
# SPDX-License-Identifier: Apache-2.0
name: "Build and Publish"

on:
  push:
    tags:
      - '*'

  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Tag name to build and publish'
        required: true
        type: string

permissions:
  contents: read

jobs:
  build_and_push_images:
    permissions:  # required by the reusable workflow
      contents: read
      packages: write
    uses: ./.github/workflows/component-build-images.yml
    # if: github.repository == 'open-telemetry/opentelemetry-demo'
    with:
      push: true
      version: ${{ github.ref_name }}
    secrets: inherit
