# Copyright The OpenTelemetry Authors
# SPDX-License-Identifier: Apache-2.0
name: "Build and Publish"

on:
  push:
    branches:
      - 'dynatrace'

permissions:
  contents: read

jobs:
  tag-from-commit:
    runs-on: ubuntu-24.04
    steps:
      - id: commit
        uses: prompt/actions-commit-hash@v3
    outputs:
      image-tag: ${{ steps.commit.outputs.short }}

  build_and_push_images:
<<<<<<< HEAD
    permissions:  # required by the reusable workflow
      contents: read
      packages: write
    uses: ./.github/workflows/component-build-images.yml
    if: github.repository == 'open-telemetry/opentelemetry-demo'
=======
    needs: tag-from-commit
    uses: ./.github/workflows/build-and-push-images.yaml
>>>>>>> dynatrace
    with:
      push: true
      version: ${{ needs.tag-from-commit.outputs.image-tag }}
    secrets: inherit
