# Copyright The OpenTelemetry Authors
# SPDX-License-Identifier: Apache-2.0
name: Integration Tests

on:
  pull_request_review:
    types:
      - submitted

permissions:
  contents: read

jobs:
  run_tests:
    runs-on: ubuntu-latest
    name: "Run CI"
    if: github.event.review.state == 'APPROVED'
    steps:
      - name: check out code
        uses: actions/checkout@v5
      - name: run tracetesting
        run: |
          make build && docker system prune -f && make run-tracetesting
