# WARNING: DO NOT ENCLOSE THE VALUES IN QUOTES

# Instana agent configuration
INSTANA_AGENT_KEY=
INSTANA_DOWNLOAD_KEY=             
INSTANA_AGENT_ENDPOINT=  # endpoint hostname or IP (without http:// prefix)
INSTANA_AGENT_ENDPOINT_PORT=1444  # 443 for SaaS, 1444 for on-prem
INSTANA_AGENT_ZONE=otel-demo

# Optional HTTP proxy settings
#INSTANA_AGENT_PROXY_HOST=
#INSTANA_AGENT_PROXY_PORT=
#INSTANA_REPOSITORY_PROXY_HOST=
#INSTANA_REPOSITORY_PROXY_PORT=
#INSTANA_REPOSITORY_PROXY_ENABLED=false

INSTANA_LOG_LEVEL=INFO            # INFO, DEBUG, TRACE, ERROR or OFF.

# EUM settings
INSTANA_EUM_URL=
INSTANA_EUM_KEY=
